// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*.esol_green{color: green !important; font-weight: bold !important; text-transform: capitalize !important;}
.esol_red {color: red !important; font-weight: bold !important; text-transform: capitalize !important;}*/

.esol_green{background-color: green !important; color: white !important; font-weight: normal !important; text-transform: capitalize !important; float: left !important; border-radius: 8px !important; font-size: 20px !important; min-width: 40% !important; margin-left: 5px !important; margin-bottom: 10px !important;}

.esol_red {background-color: red !important; color: white !important; font-weight: normal !important; text-transform: capitalize !important; float: right !important; border-radius: 8px !important; font-size: 20px !important; min-width: 40% !important; margin-right: 5px !important; margin-bottom: 10px !important;}