<ion-content padding id="home_page" class="cls-alert-page">
  <img class="header_image" src="assets/imgs/brand.png"/>

  <h2 class="mtitle">Alerts</h2>
  
  <ion-grid>    
    <ion-row>
        <ion-col col-7 class="cls-no-bdr">          
          <ion-list [class]="classSort">
          <ion-item>
            <ion-label>Sort</ion-label>
            <ion-select [(ngModel)]="sort" (ionChange)="onSelectChange($event)" class="cls-ion-select">
              <ion-option value="Class desc,AlertSentTime" selected>Priority</ion-option>
              <ion-option value="Class desc,PercentUsage">Percent Usage</ion-option>
              <ion-option value="Class desc,Criteria">Threshold</ion-option>
              <ion-option value="location">Location</ion-option>      
            </ion-select>
          </ion-item>
          </ion-list>
          
        </ion-col>
        <ion-col col-5 class="cls-no-bdr">          
          <ion-list [class]="classFilter">          
          
          <ion-item>            
            <ion-select [(ngModel)]="itemBuilding" (ionChange)="onFilterChange($event)" class="cls-ion-select-filter" style="width: 100%;">
                <ion-option value="null" selected>All</ion-option>
                <div *ngFor="let itembuilding of databuilding; let i = index" >
                  <ion-option value="{{itembuilding.DomainID}}">
                    <div *ngIf="itembuilding.Description?.length > 0;then content_desc else other_content_name"></div>
                      <!--{{itembuilding.Description}}-->
                      <ng-template #content_desc>{{ itembuilding.Description }}</ng-template>
                      <ng-template #other_content_name>{{ itembuilding.Name }}</ng-template>
                  </ion-option>
                </div>
              
            </ion-select>
          </ion-item>
          
          </ion-list>
          
        </ion-col>
    </ion-row>
  </ion-grid>
  
  <!--<ion-list [class]="classSort">
  <ion-item>
    <ion-label>Sort</ion-label>
    <ion-select [(ngModel)]="sort" (ionChange)="onSelectChange($event)">
      <ion-option value="Class,AlertSentTime asc" selected>Priority</ion-option>
      <ion-option value="location">Location</ion-option>      
    </ion-select>
  </ion-item>
  </ion-list>-->
  
  
  <ion-item *ngFor="let item of data; let i = index">
  
  <ion-card class="cls-rowcolor{{ item.MetricAlertClass }}">
    <ion-card-content style="border-bottom: 1px solid #808080;">      
      <!--<span *ngIf="item.Domain.Description?.length > 0">
        {{ item.Domain.Description }}        
      </span> -->
      
      <div *ngIf="item.Domain.Description?.length > 0;then content else other_content"></div>    
      <ng-template #content>{{ item.Domain.Description }}</ng-template>
      <ng-template #other_content>{{ item.Domain.Name }}</ng-template>      
      - {{ item.Store.Name }} - {{ item.Department.Name }}
      <div class="cls-sad-{{ item.MetricAlertClass }} cls-disp-{{ item.SadFacePressed }}" style="float: right;">
        <ion-icon ios="ios-sad" md="md-sad"></ion-icon>
      </div>
    </ion-card-content>
    <ion-card-content class="cls-alert-card">
      <span class="cls-thold">Threshold: {{ item.Criteria }} </span>Latest usage: {{ item.LatestUsage }}
      <ion-item class="cls-arrow-{{ item.MetricAlertClass }}" tappable (click)=arrivalConfirmation(item.DomainID,item.StoreID,item.DepartmentID,item.Domain.Name,item.Store.Name,item.Department.Name,item.Domain.Description)>
        <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-item>      
      <span class="cls-alert-sent-time" *ngIf="item.AlertSentTime?.length > 0">Alert Sent {{ item.AlertSentTime | date: 'dd/MM/y HH:mm:ss' }}</span>
    </ion-card-content>
  </ion-card>
    
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>  
    <ion-grid>
        <ion-row>
          <ion-col col-2>
            <ion-icon name="home" color="primary" size="large" (click)=home() style="font-size: 36px;"></ion-icon>
          </ion-col>
          <ion-col col-8>
          </ion-col>
          <ion-col col-2 style="text-align: right;">
            <ion-icon name="arrow-round-back" color="primary" size="large" (click)=back() style="font-size: 36px;"></ion-icon>
          </ion-col>
        </ion-row>
    </ion-grid>  
  </ion-toolbar>
</ion-footer>