<ion-content padding id="home_page" class="cls-alert-page">
  <img class="header_image" src="../assets/imgs/brand.png"/>

  <h2 class="mtitle">Alerts</h2>
  
  
  <ion-list [class]="classSort">
  <ion-item>
    <ion-label>Sort</ion-label>
    <ion-select [(ngModel)]="sort" (ionChange)="onSelectChange($event)">
      <ion-option value="Class" selected>Default</ion-option>
      <ion-option value="location">Location</ion-option>      
    </ion-select>
  </ion-item>
  </ion-list>
  
  
  <ion-item *ngFor="let item of data; let i = index">
  
  <ion-card class="cls-rowcolor{{ item.MetricAlertClass }}">
    <ion-card-content>      
      {{ item.Domain.Description }} - {{ item.Store.Name }} - {{ item.Department.Name }}
      <div class="cls-sad-{{ item.MetricAlertClass }} cls-disp-{{ item.SadFacePressed }}" style="float: right;">
        <ion-icon ios="ios-sad" md="md-sad"></ion-icon>
      </div>
    </ion-card-content>
    <ion-card-content class="cls-alert-card">
      <span class="cls-thold">Threshold: {{ item.Criteria }} </span>Latest usage: {{ item.LatestUsage }}
      <ion-item class="cls-arrow-{{ item.MetricAlertClass }}" tappable (click)=arrivalConfirmation(item.DomainID,item.StoreID,item.DepartmentID,item.Domain.Name,item.Store.Name,item.Department.Name,item.Domain.Description)>
        <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-item>      
      <span class="cls-alert-sent-time" *ngIf="item.AlertSentTime?.length > 0">Alert Sent {{ item.AlertSentTime | date: 'dd/MM/y HH:mm:ss' : '+0100' }}</span>
    </ion-card-content>
  </ion-card>
    
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>  
    <ion-grid>
        <ion-row>
          <ion-col col-2>
            <ion-icon name="home" color="primary" size="large" (click)=home() style="font-size: 36px;"></ion-icon>
          </ion-col>
          <ion-col col-8>
          </ion-col>
          <ion-col col-2 style="text-align: right;">
            <ion-icon name="arrow-round-back" color="primary" size="large" (click)=back() style="font-size: 36px;"></ion-icon>
          </ion-col>
        </ion-row>
    </ion-grid>  
  </ion-toolbar>
</ion-footer>